* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("../../assets/images/bg_template.png");
  background-position: center;
  background-size: cover;
}

body p {
  color:white;
}

.planets {

}

.data {

}

.title {
  border: 10px solid white;
  border-radius: 10px;
}