* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("../../assets/images/bg.png");
  background-position: center;
  background-size: cover;
}

body p, h1, h2{
  color:white;
}

.title {
  width: 100%;
  border: 10px solid white;
  border-radius: 10px;
  text-align: center;
}

.planet-alignment {
  border: 7px solid white;
  text-align: center;
}

.mercury, .venus, .mars, .jupiter {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 5px solid white;
}

.styling {
  color: white;
  text-shadow: 2px 2px 8px #FF0000,
  1px 0px 1px black,
  0px 1px 1px black,
  -1px 0px 1px black,
  0px -1px 1px black,
  2px 0px 1px black,
  0px 2px 1px black,
  -2px 0px 1px black,
  0px -2px 1px black;
  text-decoration: underline;
  border: 2px solid white;
  text-align: center;
}

.data {
  border: 10px solid white;
  border-radius: 10px;
  background-color: black;
}

#output {
  border: 10px solid white;
  border-radius: 10px;
  background-color: black;
}

#output {
  border: 10px solid white;
  border-radius: 10px;
}