* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("../../assets/images/bg.png");
  background-position: center;
  background-size: cover;
}

body p {
  color:white;
}

/* .planets {
} */

.mercury, .venus, .mars, .jupiter {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.data {
  border: 10px solid white;
  border-radius: 10px;
}

.title {
  border: 10px solid white;
  border-radius: 10px;
}